<h1>Merchants</h1>
<div class="btn-group-vertical" role="group" aria-label="Basic example">
<% @merchants.each do |merchant| %>
  <p><button type="button" class="btn btn-link"><%= link_to merchant.name, "/merchants/#{merchant.id}" %></button></p>
<% end %>
</div>